body{
    margin:0;
    padding:0;

}
.team-area{
    background-color: rgb(228, 140, 25);
    padding:40px 0;
}
.team-member img{
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}

.team-header p{
    width:500px;
    margin:0 auto;
}